/* stylelint-disable */
:root {
  --basic-red: #ff0000;
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-background: rgba(5, 5, 125,1);
  --basic-green: rgba(0,123,0,0.8);
  --basic-yellow: rgba(255,223,5,1);
  --ones-active:rgb(250, 204, 31);
  --ones-akcent: rgb(0, 150, 70);
  --ones-navigation: rgb(251, 237, 158);
  --ones-dop-navigation: rgb(255, 255, 217);
  --ones-attention: rgb(255, 225, 0);

  --basic-background-color: transparent;
}


.vh {
  display: none;
}

*,
*::after,
*::before {
  box-sizing: padding-box;
  font-family: 'JetBrains Mono','Times New Roman', 'Roboto', arial;
  /* "Central-Regular", arial; */
  /* ,"Roboto","Times new roman", sans-serif; */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
}

.hidden {
  display: none !important;
}


.bank-question {
  /* position: absolute;
  top: 3%;
  left: 3%; */
  border: 2px solid var(--basic-white);
  background-color: transparent;
  color: var(--basic-white);
  font-size: 18px;
  border-radius: 3px;
  padding: 10px 15px;
  transition: 500ms;
  /* margin-bottom: 3%; */
}
.page-body {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  /* min-height: 1200px; */
  padding: 10px;
  margin: 0;
  /* padding-top: 2%; */
  background-color: var(--basic-background-color);
  background-color: #fbed9e;
  box-sizing: border-box;
  position: relative;
}

.label__tester-info {
  font-size: 32px;
  margin-bottom: 3%;
}

.tester-info {
  font-size: 32px;
  margin-bottom: 3%;
  padding: 25px;
  border-radius: 20px;
  border: none;
  text-align: center;
  width: 65%;
}

.btn-start-test {
  border: 1px solid var(--basic-white);
  border: 1px solid var(--basic-black);
  background-color: transparent;
  color: var(--basic-white);
  color: var(--basic-black);
  font-size: 22px;
  border-radius: 3px;
  padding: 5px 15px;
  transition: 500ms;
  margin-bottom: 3px;
/* background-color: red; */
}

.btn-start-test:last-child {
  margin-bottom: 0;
}

.btn-start-test:disabled {
  background-color: grey;
}

.btn-start-test:disabled:hover {
  color: grey;
  background-color: var(--basic-white);
  transition: 500ms;
}
.btn-start-test:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
  transition: 500ms;
}

.frame-init-game,
.frame-start-game,
.frame-resault-game {
  width: 100%;
  color: var(--basic-white);
  /* text-shadow: 1px 1px 1px var(--basic-black); */
  background-color: var(--basic-background-color);
}

.test-info,
.frame-init-game {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}
.frame-init-game__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  column-gap: 10px;
  background-color: var(--basic-background-color);
}
.frame-init-game__buttons--exam {
  width: 100%;
  text-align: center;
}

.questions-columns {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  box-sizing: border-box;
}
.questions-columns div {
  display: flex;
 flex-direction: column;
 box-sizing: border-box;
}

.questions-columns__title {
  width: 100%;
  border: 5px solid #fff;
  padding: 5px;
  margin-bottom: 25px;
}

.frame-start-game {
  padding: 5%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;

  padding: 0;
  margin: 0;
}

.progress-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0 5px 0 5px;
  margin: 0;
  gap: 5px;
  column-gap: 10px;
  /* margin-top: 10%; */
}

.progress-bar__item {
  border: 2px solid var(--basic-white);
  padding: 10px 15px;
  border-radius: 25%;
  font-size: 1rem;
  font-weight: bold;
  color: var(--basic-white);
  background-color: transparent;

}

/* .progress-bar__item--next {
  background-color: var(--basic-white);
  color: var(--basic-black);
} */


.progress-bar__item:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
  transition: 300ms;
}

.progress-bar__item--active {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.question-text {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  text-shadow: 1px 1px 1px var(--basic-black),
  1px -1px 1px var(--basic-black),
  -1px 1px 1px var(--basic-black),
  -1px -1px 1px var(--basic-black);
  padding: 5px;
  border: 5px double var(--basic-white);
  width: 85%;
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.question-text-with-img {
display: flex;
flex-wrap: wrap;
flex-direction: column;
}

.question-text-with-img .question-img {
  width: auto;
  min-height: 30vh;
}

.question-img {
  /* width: 100%; */
  box-sizing: border-box;
  /* height: 50%; */
  width: 50%;
  border: 15px double #fff;
  margin: 25px;
}

.area-choose-answer {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  padding: 15px;
  /* border: 15px double var(--basic-white); */
  width: 85%;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  flex-wrap: wrap;
}

.answer {
  width: auto;
  border: 2px solid var(--basic-white);
  padding: 10px;
  border-radius: 20px;
  background-color: transparent;
  transition: 300ms;
  color: var(--basic-white);
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
  transition: 300ms;
}

.grid-2x2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 25px;
}

.grid-3x3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 25px;
}
/* stylelint-enable */


.frame-resault-game {

  padding: 25px;
  display: grid;
  font-size: 24px;
  flex-wrap: wrap;
  justify-items: center;
  gap: 25px;
  /* grid-template-columns: 1fr 1fr; */

}

.resaultAnswer {
  /* border: 2px solid var(--basic-white); */
  /* border-radius: 20px; */
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #60335e;
  width: 100%;
  gap: 10px;
  /* background-color: #fbed9e; */
  box-sizing: border-box;
}

.resaultAnswerSpan {
  border: 2px solid #60335e;
  border-radius: 20px;
  width: 100%;
  padding: 15px 3px;
  box-sizing: border-box;
  color: #000;
}

.btn-next-question {
  text-align: center;
  padding: 10px 15px;
  border: 2px solid var(--basic-white);
  border-radius: 20px;
  width: 80%;
  font-size: 22px;
  background: linear-gradient(0deg, #ecd000 0%,#ffe83c 100%);
  border: 2px solid #aa9600;
  border-radius: 3px;

}
.rightAnswerOnCLick {
  background-color: rgb(223, 243, 8);
}
.loseAnswerOnCLick {
  background-color: rgb(206, 82, 82);
}
.resaultAnswerFinal {
 order: -1;
 /* width: 100%; */
 grid-column-start: -1;
 grid-column-end: 1;
}

.red {
text-decoration: underline;
}
.rightResaultAnswer {
color: var(--basic-white);
}

.loseResaultAnswer {
color: var(--basic-white);
}

.corrent-answer {
  text-decoration: underline;
}


.not-corrent-answer {
  text-decoration-line: line-through;
}


.show-all-question,
.show-answer {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 24px;
  padding-left: 2.2em;
  margin-bottom: 15px;
}

.show-all-question__input,
.show-answer__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: none;
}
.show-all-question__checkbox,
.show-answer__checkbox {
  position: absolute;
  left: 2em;
  margin-left: -2.2em;
  width: 2em;
  height: 2em;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(img/off.svg);
}
.show-all-question__input:checked + .show-all-question__checkbox,
.show-answer__input:checked + .show-answer__checkbox {
  background-image: url(img/on.svg);
}

.show-answer__input:disabled + .show-answer__checkbox {
  background-image: url(img/off-disabled.svg);
}

.show-answer__input:checked:disabled + .show-answer__checkbox {
  background-image: url(img/on-disabled.svg);
}
.option {
  display: block;
  margin-bottom: 0.5em;
}

/* Check */

.check {
  padding-left: 1.2em;
}

.check__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.check__box {
  position: absolute;
  margin-left: -1.2em;
  width: 1em;
  height: 1em;
  background-image: url(img/off.svg);
}

/* Checked */

.check__input:checked + .check__box {
  background-image: url(img/on.svg);
}

/* Focused */

.check__input:focus + .check__box {
  background-image: url(img/off-focused.svg);
}

.check__input:checked:focus + .check__box {
  background-image: url(img/on-focused.svg);
}

/* Disabled */

.check__input:disabled + .check__box {
  background-image: url(img/off-disabled.svg);
}

.check__input:checked:disabled + .check__box {
  background-image: url(img/on-disabled.svg);
}

.text-decor {
  text-decoration: line-through;
  text-decoration-color: var(--basic-red);
  text-decoration-style: double;
  transition: 500ms ease;
  opacity: 0.2;
}

.bank-question {
  /* font-size: 8px; */
  padding: 10px 15px;
  border-width: 2px;
  background: #94d31f;
  transition: 500ms ease;
}
.bank-question:hover {
  background: hsla(81, 85%, 62%, 0.753);
  transition: 500ms ease;
}

.bank-question__count {
  text-shadow: 1px 1px 1px #000,1px -1px 1px #000,-1px 1px 1px #000,-1px -1px 1px #000;
}

.all-buttons {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 3px;
  margin-top: 10px;
  /* background-color: red; */

}




@media (min-width: 100px) and (max-width: 768px) {



  .bank-question {
    font-size: 8px;
    padding: 5px;
    border-width: 2px;
    background: #94d31f;
  }
  .frame-init-game__buttons--exam .btn-start-test {
    font-size: 14px;
    padding: 3px 15px;
  }
  .all-buttons .btn-start-test {
    font-size: 8px;
    border-radius: 3px;
    border-width: 1px;
    font-weight: normal;
    /* background-color: red; */
  }

  .btn-start-test  {
    font-size: 12px;
    padding: 3px;
    border-width: 2px;
    margin: 5px;
  }
  .frame-init-game__buttons {
    column-gap: 2px;
    justify-content: center;
  }
  .tester-info {
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
    width: 45%;
    margin-bottom: 5px;
  }
  .label__tester-info {
    font-size: 12px;
  }

  .show-all-question,
  .show-answer {
    font-size: 14px;
    padding-left: 1.2em;
    margin-bottom: 5px;
  }
  .show-all-question__checkbox,
  .show-answer__checkbox {
    position: absolute;
    left: 1em;
    margin-left: -1.2em;
    width: 1em;
    height: 1em;
  }

  .area-choose-answer {
    margin-top: 5px;
    font-size: 12px;
  }
  .answer {
    width: auto;
    border: 2px solid var(--basic-white);
    padding: 3px;
    border-radius: 5px;
    background-color: transparent;
    transition: 300ms;
    color: var(--basic-white);
    font-size: 10px;
  }
  .question-text {
    margin-top: 5px;
    font-size: 10px;
    padding: 3px;
    border: 2px solid var(--basic-white);
    width: 85%;
    min-height: 10vh;
  }
  .resaultAnswer  {
    font-size: 12px;
    padding: 3px;
  }
  .grid-3x3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
  }
  .loseResaultAnswer .red {
    border: 4px solid var(--basic-yellow);
  }
  .rightResaultAnswer .red {
    border: 4px solid var(--basic-green);
  }

  .progress-bar__item {
    padding: 3px 5px;
    font-size: 10px;
  }

  .progress-bar {
    margin-top: 5px;
  }



  .checkers{
    display:  flex;
    width: 55%;
    text-align: center;
    /* max-height: 20vh; */
  }
/* .show-all-question,
   .show-answer {
    outline: 2px solid var(--basic-red);
  } */

  .frame-resault-game {
    padding: 5px;
    font-size: 14px;
    gap: 5px;


    /* grid-template-columns:  1fr; */
  }
}

@media (max-width: 1200px) {



  .btn-start-test  {
    font-size: 24px;
    padding: 5px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {

  .all-buttons {
    grid-template-columns: repeat(5, 1fr);
  }


  .btn-start-test  {
    font-size: 12px;
    padding: 10px;
    /* background-color: red; */
    border-width: 3px;
    margin: 5px;
    border-width: 2px;
  }
  .frame-init-game__buttons {
    column-gap: 5px;
    justify-content: center;
  }
  .tester-info {
    font-size: 18px;
    padding: 10px;
    border-radius: 20px;
    width: 45%;
    margin-bottom: 15px;
  }
  .label__tester-info {
    font-size: 18px;
  }

  .show-all-question,
  .show-answer {
    font-size: 18px;
    padding-left: 1.2em;
    margin-bottom: 10px;
  }
  .show-all-question__checkbox,
  .show-answer__checkbox {
    position: absolute;
    left: 1em;
    margin-left: -1.2em;
    width: 1em;
    height: 1em;
  }

  .area-choose-answer {
    margin-top: 5px;
    /* font-size: 18px; */
  }
  .answer {
    width: auto;
    border: 2px solid var(--basic-white);
    padding: 3px;
    border-radius: 5px;
    background-color: transparent;
    transition: 300ms;
    color: var(--basic-white);
    font-size: 18px;
    border-radius: 0;
  }
  .question-text {
    margin-top: 5px;
    font-size: 18px;
    padding: 3px;
    border: 2px solid var(--basic-white);
    width: 85%;
    border-radius: 0;
    /* min-height: 10vh; */
  }
  .resaultAnswer  {
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
  }
  .grid-3x3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 25px;
  }
  .loseResaultAnswer .red {
    border: 4px solid var(--basic-yellow);
  }
  .rightResaultAnswer .red {
    border: 4px solid var(--basic-green);
  }

  .progress-bar__item {
    padding: 5px 12px;
    font-size: 16px;
  }

  .progress-bar {
    margin-top: 5px;
  }
.text-decor {
  text-decoration: line-through;
  text-decoration-color: var(--basic-red);
  text-decoration-style: double;
  transition: 500ms ease;
  opacity: 0.2;
}


  .checkers {
    display:  flex;
    width: 55%;
    text-align: center;
    /* max-height: 20vh; */
  }

  .show-answer {
    margin-right: 20px;
  }
/* .show-all-question,
   .show-answer {
    outline: 2px solid var(--basic-red);
  } */

  .frame-resault-game {
    padding: 5px;
    font-size: 14px;
    gap: 5px;
    /* justify-items: center;
    align-items: center; */
    /* grid-template-columns:  repeat(5,1fr); */
    display: flex;
    justify-content: center;
    border: 2px solid var(--basic-white);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: var(--basic-white);
    width: 100%;
    gap: 3px;
  }

  .frame-resault-game .resaultAnswer { /*  mifomen */
    width: 100%;
  }
}


@media (min-width: 1200px) {

  .all-buttons {
    grid-template-columns: repeat(7, 1fr);
  }

  .btn-start-test  {
    font-size: 18px;
    padding: 10px;
    border-width: 3px;
    margin: 5px;
    /* background-color: red; */
  }
  .frame-init-game__buttons {
    column-gap: 5px;
    justify-content: center;
  }
  .label__tester-info {
    font-size: 24px;
  }
  .tester-info {
    font-size: 28px;
    padding: 10px;
    border-radius: 20px;
    width: 45%;
    margin-bottom: 15px;
  }
  .label__tester-info {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .show-all-question,
  .show-answer {
    font-size: 24px;
    padding-left: 1.2em;
    margin-bottom: 10px;
  }
  .show-all-question__checkbox,
  .show-answer__checkbox {
    position: absolute;
    left: 1em;
    margin-left: -1.2em;
    width: 1em;
    height: 1em;
  }


  .area-choose-answer {
    margin-top: 5px;
  }

  .answer {
    width: auto;
    border: 2px solid var(--basic-white);
    padding: 3px;
    border-radius: 5px;
    background-color: transparent;
    transition: 300ms;
    color: var(--basic-white);
    font-size: 24px;
    border-radius: 0;
  }
  .question-text {
    margin-top: 5px;
    font-size: 24px;
    padding: 4px;
    border: 2px solid var(--basic-white);
    width: 85%;
    border-radius: 0;
    min-height: 15vh;
  }
  .resaultAnswer  {
    font-size: 24px;
    padding: 10px;
    margin-bottom: 15px;
  }
  .grid-3x3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 25px;
  }
  .loseResaultAnswer .red {
    border: 4px solid var(--basic-yellow);
  }
  .rightResaultAnswer .red {
    border: 4px solid var(--basic-green);
  }

  .progress-bar__item {
    padding: 8px 17px;
    font-size: 24px;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .progress-bar {
    margin-top: 5px;
  }
.text-decor {
  text-decoration: line-through;
  text-decoration-color: var(--basic-red);
  text-decoration-style: double;
  transition: 500ms ease;
  opacity: 0.2;
}


  .checkers {
    display:  flex;
    width: 55%;
    text-align: center;
    /* max-height: 20vh; */
  }

  .show-answer {
    margin-right: 20px;
  }
/* .show-all-question,
   .show-answer {
    outline: 2px solid var(--basic-red);
  } */

  .frame-resault-game {
    padding: 5px;
    font-size: 14px;
    gap: 5px;

    /* grid-template-columns:  repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr); */
  }
}

.resault-work {
  text-align: center;
  border: 5px solid var(--ones-active);
  border-radius: 25px;
  color: #000;
  font-size:52px;
  padding: 25px;
}

@media (min-width: 100px) and (max-width: 768px) {
  .resault-work {
    font-size: 18px;
  }
}

@media (min-width: 769px) and (max-width: 1399px) {
  .resault-work {
    font-size: 24px;
  }
}

@media (min-width: 1440px) {
  .resault-work {
    font-size: 34px;
  }
}





.btn-start-test--choosen {
 background-color: #1fac4e;
 /* text-shadow: 1px 1px 1px #fff, -1px 1px 1px #fff,1px -1px 1px #fff,-1px -1px 1px #fff; */
}

/* [data-selected="0"],
[data-selected="1"]  {
  background-color: #1fac4e;
} */



.question-image {
  width: 50%;
}

@media (min-width: 100px) and (max-width: 768px) {
  .question-image {
    width: 100%;
  }
}

.question-image--clicked {
  width: 100%;
}


.frame-lose-question {
  box-sizing: border-box;
display: flex;
flex-wrap: wrap;
font-size: 20px;
padding: 10px;
margin-bottom: 10px;
justify-content: center;
/* align-items: center ; */

width: 75%;
}


.frame-lose-question__question {
 color: #60335e;
text-decoration: underline;
margin: 15px 5px;
text-align: center;
width: 100%;
}

.frame-lose-question__question-answer {
  border: 2px solid #60335e;
  border-radius: 20px;
  border: 4px solid var(--basic-green);
  padding: 15px 25px;
  box-sizing: border-box;
  color: #000;
  background-color: rgb(223, 243, 8);
}
